*{
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 40px ;
    font-style: italic;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
}


h2 {
   font: bold 25px serif;
}


header ,section,footer, aside, nav, article, hgroup{
    display: block;
}

body{
    text-align: left;
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
}
.agrupar {
    width: 990px;
    border: 1px solid black;
    margin:auto;
    padding: 100px;
    background-color:black;
     
}
header {
    background: rgba(251, 75, 75, 0.856); 
    border: 1px #ffff ; 
    padding: 10px;
    text-align: left
}

.menu {
    background: rgb(229, 245, 199);
    padding: 5px 220px;
    text-align: left;

    
}
.menu li {
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}
.cabecera h1 {
    text-align: left;
}
.seccion{
    margin: 20px;
    width: 600px;
    float: left;
    
    
}

article{
    background:rgba(251, 75, 75, 0.856);
    padding: 20px;
    margin-bottom: 15px;
}

article footer{
    text-align: right;
}

time{
    text-decoration-color: chocolate;
    text-align: center;
}
.aside{
    width: 300px;
    float: left;
    margin: 20px 0px;


}



.aside blockquote{
    background:rgba(251, 75, 75, 0.856);
    padding: 15px;
    margin-bottom: 20px;

}

.imagen{
    width: 80px;
    display: block;
}

.pie {
    clear: both;
}

.gif{
    width: 300px;
}

.UERRELE{
    text-decoration-style: white;
}